@model IEnumerable<VillaDTO>

</br>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i> Create New Villa
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupant</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var villaDto in Model) {
                <tr>
                    <td>@villaDto.Name</td>
                    <td>@villaDto.Occupancy</td>
                    <td>@villaDto.Rate.ToString("c")</td>
                    <td>
                        <a asp-controller="Villa" asp-action="UpdateVilla" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

